*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

.cabecalho{
    display: flex;
    color: white;
    background-color: black;
    height: 90px;
    text-align: center;
    align-items: center;
}

nav{
    display: flex;
}

.nav-titulo{
    font-family: Jaini;
    font-size: 35px;
    margin-left: 12px;
}

.especificacoes{
    display: flex;
    margin-left: 370px;
    gap: 55px;
    align-items: center;
    text-align: center;
    margin-top: 8px;
}

span{
    color: crimson;
    font-size: 42px;
}

body{
    background-image: url(img/wood-background-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pesquisa{
    margin-left: 200px;
    display: flex;
}

#pesquisa{
    height: 35px;
    width: 180px;
}

#botao{
    margin-left: 30px;
    height: 35px;
    width:100px;
    border-radius: 5px;
}

#botao:hover{
    border: solid 2px crimson;
    scale: 1.1;
    transition: 1s;
}

#peças{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#peças:hover{
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

#sobremesas{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#sobremesas:hover{
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

.produtos{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    width: 280px;
    height: 420px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: black;
}

#cardapio{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-top: 40px;
}

#foto-produto{
    height: 215px;
    width: 210px;
    margin-top: 40px;
    margin-bottom: 13px;
}

h2{
    margin-bottom: 5px;
}

#detalhes{
    margin-top: 10px;
    height: 28px;
    width: 70px;
    background-color: crimson;
    color: black;
    border: solid 1px black;
    border-radius: 3px;
}

#detalhes:hover{
    cursor: pointer;
}

.tela-carregamento {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  .bolinha {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 12px solid rgb(248, 48, 48);
    background-color: transparent;
    border-top: 12px solid transparent;
    display: block;
    animation: carregar 1s linear infinite;
  }
  
  @keyframes carregar {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(360deg);
    }
  }