#botao-compra{
    scale: 1;
    animation-name: aumentar;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes aumentar{
    0%{
        scale: 1;
    }
    50%{
       scale: 1.1;
    }
    100%{
        scale: 1;
    }
}